<!--index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Artificial Economist</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}" rel="stylesheet">
    
      
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <link href="{{ url_for('static', filename= 'styling.css')}}" rel="stylesheet">

  </head>
    
  <body>
      
     
      
      <!--Create Nav bar-->
      <nav role="navigation" class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a href="{{url_for('index')}}">
                  <img class="logot" src=
        "{{ url_for('static', filename= 'images/drawing5.png')}}">
                  </a>
                  <div class="headdiv">
                  </div>
                  <button id="orange_button"
                          type="button" class="navbar-toggle btn" data-target="#navbarCollapse" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="navbar-collapse collapse" id="navbarCollapse">
                  <ul id="main_menu" class="nav navbar-nav">
                      <li><a href="{{url_for('about')}}">About</a></li>
                      <li><a href="{{url_for('about')}}#contacts">Contact</a></li>
                      <li><a href="forum">Forum</a></li>
                      <li><a id="cater" href="#">Categories</a></li>
                      <li><a href="news">News</a></li>
                      <li><a href="https://www.facebook.com/artecon1" class="fa fa-facebook"></a></li>
                  </ul>
                                 
              </div>
              <div>
              <ul class="nav navbar-nav
                               submen">
               <li><a href="{{url_for('.all_cater')}}">All Categories</a></li>         
                        {% for tag in tags %}
      <li><a href="{{url_for('.categorypage',
          categoryname=remove_whitespace(tag)
          )}}">{{tag}}</a></li>
      
          {% endfor %}
                  </ul>   
              </div>  
          </div>
      </nav>
      
      
      
      
      
      
     {% block content %}{% endblock %}
      
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
              ></script>
      
      <script src="{{ url_for('static', filename= 'js/bootstrap.min.js')}}"
              ></script>    
         
    
           
      <script src="{{ url_for('static', filename= 'functions.js')}}"></script>
      
      <script>
          
          $(document).ready(function(){
              
    hide_title();
    sort_button();
    $(window).resize(function() {
    clearTimeout(window.resizedFinished);
    window.resizedFinished = setTimeout(function(){
        hide_title()
    }, 1000);
}); 
              
     
    })
      </script>
      
    {% block scripts %}{% endblock %}       
           

      
      <div class="footer">
          <div class="container">
              <p> Powered with the help of Flask, Plotly and RMarkdown</p>
          </div>
      </div>
      
  </body>
</html>
      